GitPython
pydantic>=2.6
click>=8.1
python-dotenv>=1.0
pyyaml>=6.0
sqlglot>=25.0
streamlit
pandas
networkx
pyvis
openpyxl
streamlit
pydantic
sqllineage 
langchain
langchain-google-genai
gitpython
dotenv
google-genai
python-dotenv
openpyxl
streamlit_extras
snowflake
snowflake-connector-python
snowflake-snowpark-python